<!-- Footer-->
<div class="footer ppx-bg-white">
    <div class="py-5">
        <div class="container">
            <div class="row g-1">
                <div class="col-md-5">
                    <p class="ppx-font-medium ppx-text-xl ppx-break-words ppx-text-justify ppx-mr-5">
                        SN Groupe
                    </p>
                    <p class="mt-3">
                        <span class="ppx-font-medium">Trụ sở chính:</span> 13 Avenue de
                        L&#039;Energie, 67800 Bischheim, France
                    </p>
                    <p class="mt-3">
                        <span class="ppx-font-medium">Tổng đài tư vấn hỗ trợ khách hàng:</span>
                        +33768 45 34 68 - +84836 33 79 68
                    </p>
                    <p class="mt-3">
                        <span class="ppx-font-medium">Email:</span>
                        contactsnglogistique.com
                    </p>
                    <p class="mt-3">
                        <span class="ppx-font-medium">Thời gian:</span> Giờ làm việc: 8h
                        đến 17h từ thứ 2 đến thứ 7
                    </p>
                </div>

                <div class="col-md-2 mt-3 mt-md-0">
                    <p class="ppx-font-medium ppx-text-xl">Công ty</p>
                    <p class="mt-2 ppx-font-medium">
                        <a href="/tin-tuc/preview/ve-chung-toi">Về chúng tôi</a>
                    </p>
                    <p class="mt-2 ppx-font-medium">
                        <a href="/tin-tuc/hoat-dong">Tin tức</a>
                    </p>
                    <p class="mt-2 ppx-font-medium">
                        <a href="/tin-tuc/preview/lien-he">Liên Hệ</a>
                    </p>
                    <p class="mt-2 ppx-font-medium">
                        <a href="/tin-tuc/preview/tam-nhin-su-menh">Tầm nhìn sứ mệnh</a>
                    </p>
                    <p class="mt-2 ppx-font-medium">
                        <a href="/tin-tuc/preview/chinh-sach-bao-mat">Chính sách bảo mật</a>
                    </p>
                </div>

                <div class="col-md-2 mt-3 mt-md-0">
                    <p class="ppx-font-medium ppx-text-xl">Hỗ trợ khách hàng</p>
                    <p class="mt-2 ppx-font-medium">
                        <a href="/tin-tuc/huong-dan/huong-dan-dong-goi">Hướng dẫn đóng gói</a>
                    </p>
                    <p class="mt-2 ppx-font-medium">
                        <a href="/tin-tuc/preview/cau-hoi-thuong-gap">Câu hỏi thưởng gặp</a>
                    </p>
                    <p class="mt-2 ppx-font-medium">
                        <a href="/tin-tuc/huong-dan/huong-dan-buu-pham">Hướng dẫn bưu phẩm</a>
                    </p>
                </div>

                <div class="col-md-3 mt-3 mt-md-0">
                    <p class="ppx-font-medium ppx-text-xl">Kết nối với chúng tôi</p>

                    <div class="socialIcon mt-2 ppx-flex ppx-justify-between md:ppx-w-8/12">
                        <a href="https://www.facebook.com/profile.php?id=100074794083965&amp;mibextid=ZbWKwL"
                            class="fab fa-facebook-square fa-3x"></a>
                        <a href="aa" class="fab fa-youtube-square fa-3x"></a>
                        <i class="fab fa-instagram-square fa-3x"></i>
                        <i class="fab fa-twitter-square fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cprFooter ppx-bg-vibrant-blue ppx-text-white ppx-text-center ppx-py-3">
        <p class="ppx-font-medium">Copyright 2021 by TVL POST Việt Nam</p>
    </div>
</div>