



<div
    class="phuc-overlay ppx-hidden ppx-bg-black ppx-opacity-60 ppx-fixed ppx-top-0 ppx-bottom-0 ppx-z-10 ppx-h-full ppx-w-full">
</div>

<div class="topBar">
    <!-- Top Bar -->
    <div class="navbar ppx-h-10 navbar-dark bg-dark ppx-text-cyan-pale-gray ppx-tracking-wide">
        <div class="container ppx-font-normal">
            <a href="mailto:info@pcs.vn" class="ppx-text-sm ppx-hidden md:ppx-inline-block ppx-no-underline ppx-text-" style="margin-bottom: 30px;">
                <i class="ppx-mr-1 fab fa-telegram-plane fa-lg"></i>
                contactsnglogistique.com
            </a>

            <ul class="ppx-float-right ppx-flex ppx-text-sm ppx-align-middle md:ppx-mx-0 ppx-mx-auto">
                <li class="ppx-flex ppx-mr-5">
                    <p class="ppx-mr-2">
                        <i class="fas fa-phone-alt"></i> 
                        <span class="ppx-hidden md:ppx-inline-block">Hotline:</span>
                    </p>
                    <a href="tel:1900599838" class="navTopTel">+33768 45 34 68 - +84836 33 79 68</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Top Bar  -->

    <!-- Second Top Bar -->
    <nav class="navbar navbar-expand-lg bg-light secondHeader">
        <div class="container">
            <a class="navbar-brand" href="http://tvlpost.com">
                <img src="http://tvlpost.com/storage/images/uploads/pVuzHRJMfDpF9Q1zXH5nTTA31opGJbMTDWKhoA5i.png"
                    class="ppx-w-auto ppx-h-10" alt="TVL POST" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2">
                        <a class="nav-link linkMenu"  [routerLink]="['/home-page']" >Trang chủ</a>
                    </li>

                    <li class="nav-item px-2 dropdown">
                        <a class="nav-link linkMenu dropdown-toggle" href="#" id="menuServiceDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Dịch vụ</a>

                        <div class="dropdown-menu px-2 py-3 ppx-w-96">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p class="ppx-font-semibold mb-2 ms-3">Dịch vụ nội địa</p>

                                    <ul class="ppx-leading-7">
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/chuyen-phat-nhanh-cpn"
                                                class="dropdown-item ppx-whitespace-normal">Chuyển phát nhanh (CPN)</a>
                                        </li>
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/dich-vu-phat-hoa-toc-pht"
                                                class="dropdown-item ppx-whitespace-normal">Dịch vụ phát Hỏa tốc
                                                (PHT)</a>
                                        </li>
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/chuyen-phat-tiet-kiem"
                                                class="dropdown-item ppx-whitespace-normal">Chuyển phát Tiết Kiệm</a>
                                        </li>
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/dich-vu-chuyen-phat-48h-p48h"
                                                class="dropdown-item ppx-whitespace-normal">Dịch vụ chuyển phát 48h
                                                (P48H)</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-12 col-md-6">
                                    <p class="ppx-font-semibold mb-2 ms-3">Dịch vụ quốc tế</p>

                                    <ul class="ppx-leading-7">
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/dich-vu-cho-thue-kho-bai" target=""
                                                class="dropdown-item ppx-whitespace-normal">Dịch vụ cho thuê kho bãi</a>
                                        </li>
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/dich-vu-thong-quan-hai-chieu-viet-phap"
                                                target="" class="dropdown-item ppx-whitespace-normal">Dịch vụ thông quan
                                                hai chiều Việt - Pháp</a>
                                        </li>
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/dich-vu-van-chuyen-chinh-ngach-viet-nam-eu"
                                                target="" class="dropdown-item ppx-whitespace-normal">Dịch vụ vận chuyển
                                                chính ngạch Việt Nam - EU</a>
                                        </li>
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/dich-vu-van-chuyen-hang-ca-nhan-viet-nam-eu"
                                                target="" class="dropdown-item ppx-whitespace-normal">Dịch vụ vận chuyển
                                                hàng cá nhân Việt Nam - Eu</a>
                                        </li>
                                        <li>
                                            <a href="http://tvlpost.com/dich-vu/dich-vu-e-com" target=""
                                                class="dropdown-item ppx-whitespace-normal">Dịch vụ E - Com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item px-2 dropdown">
                        <a class="nav-link linkMenu dropdown-toggle" href="#" id="navbarDropdownPost" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Tin tức</a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownPost">
                            <li>
                                <a class="dropdown-item" href="http://tvlpost.com/tin-tuc/hoat-dong">Hoạt động</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="http://tvlpost.com/tin-tuc/huong-dan">Hướng dẫn</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="http://tvlpost.com/tin-tuc/khuyen-mai">Khuyến mãi</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item px-2">
                        <a class="nav-link linkMenu" href="/tin-tuc/preview/ve-chung-toi">Về chúng tôi</a>
                    </li>

                    <li class="nav-item ppx-px-3 ms-2 ppx-rounded-3xl ppx-border-2 ppx-border-gray-300">
                        <a [routerLink]="['/login']" *ngIf="user==null" style="text-decoration: none;">


                            <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal"
                                class="ppx-mb-0 nav-link linkMenu ppx-text-vibrant-blue">
                                Đăng nhập
                            </button>
                        </a>
                    </li>

                    <li class="nav-item ppx-bg-vibrant-blue px-3 ms-2 ppx-rounded-3xl">
                        <a [routerLink]="['/register']" *ngIf="user==null" style="text-decoration: none;">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#registerModal"
                                class="ppx-mb-0 ppx-pt-2.5 nav-link linkMenu ppx-text-white">
                                Đăng ký
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Second Top Bar -->
</div>